<div>
  <main class="text-gray-900">
    <section class="pt-5 md:pt-5">
        <div class="container mx-auto px-8 lg:flex justify-center">
            <div class="text-center lg:text-left lg:w-1/2">
                <div class="py-8 px-4 mx-auto max-w-2xl lg:py-8 border border-gray-900 rounded-lg">
      <h2 class="mb-4 text-xl font-bold text-gray-900 justify-center text-center lg:text-center">Soltix Group</h2>
      <div class="flex justify-center">
          <hr class="border-gray-900 w-16 border-2">
      </div>
      <%= form_with(model: @lead, url: home_index_path, local: true) do |form| %>
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name <span class="text-orange-500">*</span></label>
                  <input type="text" name="lead[name]" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
              </div>
              <div class="sm:col-span-2">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email <span class="text-orange-500">*</span></label>
                  <input type="email" name="lead[email]" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
              </div>
              <div class="sm:col-span-2">
                  <label for="phone_no" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number <span class="text-orange-500">*</span></label>
                  <input type="number" name="lead[phone_no]" id="phone_no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
              </div>
              <%= form.hidden_field :universal_leadid, id: "leadid_token" %>

          </div>
          <div class="mt-3">
          <input type="checkbox" id="leadid_tcpa_disclosure" name="lead[leadid_tcpa_disclosure]" /><label for="leadid_tcpa_disclosure" class="text-sm ml-1">By clicking "Submit", you consent to getting marketing and promotional calls and messages.</label>
        </div>
        <div class="mt-3">
          <input type="checkbox" id="terms_and_policy" name="lead[terms_and_policy]" /><label for="terms_and_policy" class="text-sm ml-1">Yes, I agree with the privacy policy and terms and conditions.</label>
        </div>

          <input id="submitBtn" type="submit" class="button block mx-auto mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-900 rounded-lg py-2.5 px-5 focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-orange-600 disabled:opacity-50 disabled:cursor-not-allowed" value="Submit" disabled>


      <% end %>
                </div>
            </div>
        </div>
    </section>

    </main>


    <footer class="container mx-auto py-16 px-3 mt-48 mb-8 text-gray-800">
        <div class="flex -mx-3">
            <div class="flex-1 px-3">
                <h2 class="text-lg font-semibold">About Us</h2>
                <p class="mt-5">Ridiculus mus mauris vitae ultricies leo integer malesuada nunc.
                </p>
            </div>
            <div class="flex-1 px-3">
                <h2 class="text-lg font-semibold">Important Links</h2>
                <ul class="mt-4 leading-loose">
                    <li><a href="https://codebushi.com">Terms &amp; Conditions</a></li>
                    <li><a href="https://codebushi.com">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="flex-1 px-3">
                <h2 class="text-lg font-semibold">Social Media</h2>
                <ul class="mt-4 leading-loose">
                    <li><a href="https://dev.to/changoman">Dev.to</a></li>
                    <li><a href="https://twitter.com/HuntaroSan">Twitter</a></li>
                    <li><a href="https://github.com/codebushi/gatsby-starter-lander">GitHub</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script id="LeadiDscript" type="text/javascript">
    (function() {
        var s = document.createElement('script');
        s.id = 'LeadiDscript_campaign';
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//create.lidstatic.com/campaign/3e559fe0-2462-e29a-7404-6e404ec518fb.js?snippet_version=2&f=reset';
        var LeadiDscript = document.getElementById('LeadiDscript');
        LeadiDscript.parentNode.insertBefore(s, LeadiDscript);
    })();

    function validateForm() {
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phone_no").value;
        var tcpaDisclosure = document.getElementById("leadid_tcpa_disclosure").checked;
        var termsPolicy = document.getElementById("terms_and_policy").checked;
        var submitBtn = document.getElementById("submitBtn");

        if (name !== "" && email !== "" && phone !== "" && tcpaDisclosure && termsPolicy) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }

    document.getElementById("name").addEventListener("change", validateForm);
    document.getElementById("email").addEventListener("change", validateForm);
    document.getElementById("phone_no").addEventListener("change", validateForm);
    document.getElementById("leadid_tcpa_disclosure").addEventListener("change", validateForm);
    document.getElementById("terms_and_policy").addEventListener("change", validateForm);
</script>

<noscript><img src='//create.leadid.com/noscript.gif?lac=AA8B6035-684F-E7BB-B65D-589BE1F246ED&lck=3e559fe0-2462-e29a-7404-6e404ec518fb&snippet_version=2' /></noscript>